@media (min-width:768px){ #loginM{display:none}}
@media (max-width:767px){#loginD{display:none}}
@media (max-width:575px) {
    .social-info.pull-left {
        text-align: center;
    }
    #virtualSportsSection h2 {
        font-size: 20px;
    }
    #virtualSportsSection p.lead {
        font-size: 14px !important;
    }
}
.page-header {
    background: #F2F2F2 url("../images/sections/header-bg.jpg") no-repeat scroll 50% top;
}
#page-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding: 40px 0;
    font-weight: 600;
}
.content {
    width: 100%;
    min-height: 20em;
	height: 36em;
	margin: 0px auto;
}
.embed-container {
    height: 0;
    width: 100%;
    padding-bottom:37em;
	overflow: hidden;
    position: relative;
}
.embed-container iframe {
    width: 101%;
    height: 101%;
    position: absolute;
    top: 0;
    left: 0;
}
#header .top-header {
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 136, 0);
}
#header .logo-header {
    background:#000 none repeat scroll 0% 0% !important;
}
#header .menu-container .site-menu .site-menu-inner a {
    font-size: 11px;
}
div#highreslogin {
    font-size: 11px;
}
div#highreslogin button.button {
    font-weight: 800;
    text-align: center;
    padding: 9px 20px 8px;
}
#header .menu-container .site-menu .site-menu-inner ul li a:hover .fa{
    color: rgb(255, 136, 0) !important;
}
/*-------------------- VIRTUAL SPORTS --------------------*/
#virtualSportsSection h2 {
    font-weight: bold;
}
#virtualSportsSection p.lead {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(255, 136, 0);
}

#virtualSportsSection p.lead strong {
    font-weight: bold;
}
