.carousel-item{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-decoration: none;
    & .carrousel-main img{
        @media screen and (min-width: 900px){
            width: 100%;
        }
    }
}
.carriusel-item-container{
    background-image: url(../../img/slider.jpg);
}
.carrousel-main{
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 900px){
        max-width: 1400px;
        height: 440px;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
    }
    &-containerInfo{
        text-align: center;
        margin-top: 30px;
        margin-left: 41px;
        margin-right: 41px;
        & h2{
            font-size: 32px;
            color: $white;
            font-weight: 900;
            & span{
                font-weight: 100;
            }
        }
        @media screen and (min-width: 900px){
            width: 50%;
            display: flex;
            justify-content: center;

            & h2{
                font-size: 70px;
                text-align: left;

            }
        }
    }
    &-containerImg{
        width: 50%;
        @media screen and (min-width: 900px){
            height: auto;
            display: flex;
            justify-content: center;
        }
    }
}

.carousel-indicators{
    bottom: -45px;
    & button{
        background-color: $deep-blue !important;
        width: 43px !important;
        height: 8px !important;
        border-radius: 11px;
    }
}
