.cardsContainer{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    &-item{
        width: 50%;
        max-width: 408px;
        display: flex;
        border-radius: 10px;
        text-decoration: none;
        border: 1px solid $deep-yellow;

        &-info{
            width: 50%;
            text-align: center;
            margin-top: 23px;
            font-size: 25px;
            color: $white;
            font-weight: 900;
            padding: 1rem;
            &-icon{
              margin: 0 auto;
              max-width: 50% !important;
              height: auto;
              
            }
        }

        &-img{
            width: 50%;
            display: flex;
            justify-content: end;
            & img{
                width: 100%;
            }
        }
        &:nth-child(1){
            background-image: url(../../img/products/sports.jpg);
        }
        &:nth-child(2){
            background-image: url(../../img/products/casino.jpg);
        }
        &:nth-child(3){
            background-image: url(../../img/products/horses.jpg);
        }
    }
}

.carrousel-mobile{
  margin-top: 40px;
  margin-bottom: 90px;
}
.cards-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    max-width: 800px;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .carrousel-mobile .carousel-control-prev,
  .carrousel-mobile .carousel-control-next{
    bottom: -351px;

  }
  .carrousel-mobile .carousel-control-prev{
    left: 35%;
  }
  .carrousel-mobile .carousel-control-next{
    right: 35%;
  }
  .carrousel-mobile .carousel-control-next-icon,.carrousel-mobile .carousel-control-prev-icon{
    filter: hue-rotate(90deg) brightness(0%);
  }

  .carrousel-cell{
    margin-top: 40px;
    margin-bottom: 90px;
    .cards-wrapper {
      justify-content: center;
      .cardsContainer-item{
        width: 100%;
      }
    }
  }
  .carrousel-cell .carousel-control-prev,
  .carrousel-cell .carousel-control-next{
    bottom: -351px;

  }
  .carrousel-cell .carousel-control-prev{
    left: 35%;
  }
  .carrousel-cell .carousel-control-next{
    right: 35%;
  }
  .carrousel-cell .carousel-control-next-icon,.carrousel-cell .carousel-control-prev-icon{
    filter: hue-rotate(90deg) brightness(100%);
  }
  .carousel-inner{
    z-index: 100;
  }
  .racebook{
    max-width: 30% !important;
  }