.form-login{
    justify-content: center;
    align-items: center;
    background: #000;
    padding: 1rem 0;
    margin: 2rem auto;
    border-radius: 1rem;
    max-width: 400px;

}
.signUp__form{
    width: 80%;
    margin: 0 auto;
}
.signUp__input{
    margin-top: 1rem;
}
.signUp__button{
    width: 100%;
    background-color: $light-yellow;
    color: $white;
    font-size: 16px;
    font-weight: 600;
}
