$deep-blue : #000;
$mid-blue: #000;
$light-blue: #333331;
$white:#FFFFFF;
$light-gray: #f0f1f3;
$mid-gray:#dbdbdb;
$deep-gray: #707070;
$light-yellow: #EB0000;
$mid-yellow: #cd3439;
$deep-yellow: #df1931;
